body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  width: 100%;
  letter-spacing: -.02em;
  overflow-x: hidden;
  background-color: var(--b);
}

* {
  color: var(--p) !important;
  user-select: none;
}

:root {
  --p: #1a202c;
  --s: #d3d3d3;
  --t: #eeeeeeee;
  --q: #757575;
  --b: #fff;
}

.darkmode:root {
  --p: #cecece;
  --s: #262626;
  --q: #757575;
  --b: #161616;
}


*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--s);
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: var(--p);
}

#root {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App,
.Blog,
.Sobre {
  color: var(--p);
  margin: 80px 0;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
}

header,
header label {
  display: flex;
  align-items: center;
}

header section {
  display: flex;
  align-items: center;
}

header .link {
  margin-left: 15px;
}

header #moon {
  margin-left: 15px;
  cursor: pointer;
}

header label,
.post .titulo {
  cursor: pointer;
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 800;
  font-size: 2.25em;
}

header label:hover {
  color: #2f3541;
}

header .blog {
  cursor: pointer;
}

main p {
  text-align: justify;
}

main h3 {
  margin-top: 30px;
}

main a img {
  margin-right: 10px;
}

.App h2{
  margin-top: 100px;
  font-size: 35px;
  margin-bottom: 0px;
}

.App h3{
  margin-top: 10px;
  font-weight: 400;
  color: var(--q);
}

.post {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.post .texto {
  width: 68%;
}

.post .perfil {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 5px;
}

.post .perfil img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 5px;
}


.post .titulo {
  width: 95%;
  font-size: 20px !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.post .descricao {
  height: 55px;
  overflow: hidden;
  color: var(--q);
}

.post .informacoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--q);
  font-size: 15px;
}

.post .informacoes div {
  display: flex;
}

.post .informacoes .data {
  margin-right: 15px;
}

.post .acoes ion-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.post .acoes ion-icon:nth-child(1):hover {
  color: #e11e0e !important;
}

.post .acoes ion-icon:nth-child(2):hover {
  color: #cf872e !important;
}

.post .post-imagem {
  width: 200px;
  height: 134px;
  border-radius: 5px;
}

hr {
  margin: 2em 0;
  border: 0 solid var(--s);
  border-color: var(--s);
  border-top-width: 1px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ion-icon {
  margin-right: 5px;
}

footer a {
  cursor: pointer;
  display: flex;
  align-items: center;
}

footer .copy{
  font-size: 12px;
}

footer div{
  display: flex;
}

footer div a{
  margin-right: 10px;
}

footer .twitter:hover {
  color: rgb(42, 169, 224);
}

footer .github:hover {
  color: rgb(129, 34, 144);
}

footer .instagram:hover {
  color: rgb(253, 8, 72);
}

footer .linkedin:hover {
  color: rgb(2, 117, 180);
}

@media(max-width: 1200px) {
  .post .texto {
    width: 60%;
  }
}

@media(max-width: 1000px) {
  .post .texto {
    width: 50%;
  }
}

@media(max-width: 850px) {

  .post {
    display: block;
  }

  .post .texto {
    width: 100%;
    overflow-x: hidden;
    margin-right: -15px;
  }

  .post .post-imagem {
    width: 100%;
    margin-top: 15px;
    height: auto;
  }

  footer a {
    margin-bottom: 10px;
  }

  .App,
  .Blog,
  .Sobre {
    width: 85% !important;
  }
}